<div ng-controller="View1Ctrl">
    <div class="app-toolkit">
        <header class="top-bar">
            <div class="o-container o-container--wide">
                <div class="o-layout o-layout--middle">
                    <div class="o-layout__item u-width-1/3">
                        <img class="logo" src="https://www.sky.com/assets/masthead/images/sky-logo.png" alt="Image">
                    </div>
                    <div class="o-layout__item u-width-2/3">
                        <div class="o-layout">
                            <div class="o-layout__item">
                                <h1 class="title"> Moodslider </h1>
                            </div>
                            <div class="c-divider"></div>
                            <div class="o-layout__item o-layout">
                                Moodslider | <file-upload></file-upload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
 
        <section id="content" class="c-tile c-tile--solid-white u-margin-bottom-large no-anim in-view">
            <div class="c-tile__content">
                {{allFilms}}
                <div class="o-container">
                    <div class="o-layout o-layout--middle">
                        <div class="o-layout__item u-width-1/3">
                            <p class="text-center">Agitated</p>
                        </div>
                        <div class="o-layout__item u-width-1/3">
                            <input type="range" min="0" max="10" class="slider" ng-model="agitatedCalmSlider">
                        </div>
                        <div class="o-layout__item u-width-1/3">
                            <p class="text-center">Calm</p>
                        </div>
                    </div>
                    <div class="o-layout o-layout--middle">
                        <div class="o-layout__item u-width-1/3">
                            <p class="text-center">Agitated</p>
                        </div>
                        <div class="o-layout__item u-width-1/3">
                            <input type="range" min="0" max="10" class="slider" ng-model="agitatedCalmSlider">
                        </div>
                        <div class="o-layout__item u-width-1/3">
                            <p class="text-center">Calm</p>
                        </div>
                    </div>
                    <div class="o-layout o-layout--middle">
                        <div class="o-layout__item u-width-1/3">
                            <p class="text-center">Agitated</p>
                        </div>
                        <div class="o-layout__item u-width-1/3">
                            <input type="range" min="0" max="10" class="slider" ng-model="agitatedCalmSlider">
                        </div>
                        <div class="o-layout__item u-width-1/3">
                            <p class="text-center">Calm</p>
                        </div>
                    </div>
                    <div class="o-layout o-layout--middle">
                        <div class="o-layout__item u-width-1/3">
                            <p class="text-center">Agitated</p>
                        </div>
                        <div class="o-layout__item u-width-1/3">
                            <input type="range" min="0" max="10" class="slider" ng-model="agitatedCalmSlider">
                        </div>
                        <div class="o-layout__item u-width-1/3">
                            <p class="text-center">Calm</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="o-container">
                <div class="o-layout o-layout--center o-layout--middle o-layout--spaced">
                    <div class="o-layout__item u-width-1/5 u-padding-all">
                        <div class="c-tile c-tile--solid-white u-margin-bottom-large no-anim in-view">
                            <img src="assets/images/12_years_a_slave.jpg">
                            <div class="c-divider"></div>
                            <p> temp text </p>
                        </div>
                    </div>
                    <div class="o-layout__item u-width-1/5 u-padding-all">
                        <div class="c-tile c-tile--solid-white u-margin-bottom-large no-anim in-view">
                            <img src="assets/images/elf.jpg">
                            <div class="c-divider"></div>
                            <p> temp text </p>
                        </div>
                    </div>
                    <div class="o-layout__item u-width-1/5 u-padding-all">
                        <div class="c-tile c-tile--solid-white u-margin-bottom-large no-anim in-view">
                            <img src="assets/images/forrest_gump.jpg">
                            <div class="c-divider"></div>
                            <p> temp text </p>
                        </div>
                    </div>
                    <div class="o-layout__item u-width-1/5 u-padding-all">
                        <div class="c-tile c-tile--solid-white u-margin-bottom-large no-anim in-view">
                            <img src="assets/images/gladiator.jpg">
                            <div class="c-divider"></div>
                            <p> temp text </p>
                        </div>
                    </div>
                    <div class="o-layout__item u-width-1/5 u-padding-all">
                        <div class="c-tile c-tile--solid-white u-margin-bottom-large no-anim in-view">
                            <img src="assets/images/home_alone.jpg">
                            <div class="c-divider"></div>
                            <p> temp text </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>