
    <div class="app-toolkit">
        <header class="top-bar">
            <div class="o-container o-container--wide">
                <div class="o-layout o-layout--middle">
                    <div class="o-layout__item u-width-1/3">
                        <img class="logo" src="https://www.sky.com/assets/masthead/images/sky-logo.png" alt="Image">
                    </div>
                    <div class="o-layout__item u-width-2/3">
                        <div class="o-layout">
                            <div class="o-layout__item">
                                <h1 class="title"> Moodslider </h1>
                            </div>
                            <div class="c-divider"></div>
                            <div class="o-layout__item o-layout">
                                Moodslider | <file-upload></file-upload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
 
        <section id="content" class="c-tile c-tile--solid-white u-margin-bottom-large no-anim in-view">
            <div class="c-tile__content">
                <div ng-repeat="slider in sliders">
                    <div class="o-container">
                            <div class="o-layout o-layout--middle">
                                    <div class="o-layout__item u-width-1/3">
                                        <p class="text-center">{{slider.minValueLabel}}</p>
                                    </div>
                                    <div class="o-layout__item u-width-1/3">
                                        <input type="range" min="0" ng-change="getSuggestions()" max="10" class="slider" ng-model="slider.slideValue">
                                    </div>
                                    <div class="o-layout__item u-width-1/3">
                                        <p class="text-center">{{slider.maxValueLabel}}</p>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="o-container">
                <div class="o-layout o-layout--center o-layout--middle o-layout--spaced">
                        <div ng-repeat="film in displayedSuggestedFilms.listOfFilms" class="custom-card o-layout__item u-width-1/5 u-padding-all">
                            <article class="c-tile c-tile--square potrait has-focus">
                                <div class="c-tile__link c-shine-context" href="#">
                                  <div class="c-tile__content">
                                    <div class="c-tile__media">
                                      <img ng-show="film.imagePath" class="c-tile__poster" ng-src="{{film.imagePath}}" />
                                    </div>
                                    <div class="c-tile__body c-tile__caption">
                                      <p class="c-tile__title c-heading-delta">{{film.name}}</p>
                                    </div>
                                  </div>
                                </div>
                              </article>
                        </div>
                </div>
        </div>
    </div>

